.pokemons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  grid-gap: 1rem;
  margin: 1rem;
}


.pokemonCardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: column;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  border-radius: 30px;
  box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.6);
  padding: 2rem;
  width: 17rem;
  height: 25rem;
  
  text-align: center;
}

.pokemonImgContainer {
  position: relative;
  height: 250px;
  width: 250px;
  
}

.pokemonBoxImg {
  border-radius: 50%;
  background-color: #faf7ff;
  width: 200px;
  height: 200px;
  position: relative;
  left: 9%;
  top: 10%;
  border: 6px solid black;
}

.pokemonImg {
  width: 13rem;
  position: absolute;
  bottom: -10%;
  left: -20%;
  transition: 400ms;
}

.pokemonImg:hover {
  transform: scale(1.1); /* Increase the scale on hover */
}


.typeImg {
  width: 2.5rem;
  border-radius: 50%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.35);
  transition: 300ms;
  margin: 5px 15px;
}

.typeImg:hover {
  transform: scale(1.05);
}

.pokemonId {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 1em;
  display: inline-block;
  padding: 7px 12px;
  animation: hide 1s forwards ease;
}

.pokemonName {
  margin: 5px 0 10px;
  letter-spacing: 1px;
  font-size: 1.7em;
  text-transform: capitalize;
  animation: hide 1s forwards ease;

}
